In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import json
from pandas.io.json import json_normalize
from scipy import sparse

# Create matrix for relationships between users and projects

### Load the participations and projects

In [2]:
participations = pd.read_pickle('../../data/raw/participation_data')

In [3]:
participations.head()

,authenticated,duration,extra,index_,magnitude,origin,profile,profile_origin,profile_referrer,profile_utm_campaign,profile_utm_content,profile_utm_medium,profile_utm_source,profile_utm_term,project,repetitions,type,when,where
0,True,0,,1,1,Unspecified,c3174748ab29f73d8c6226d0c2171aeb,,,,,,,,25.0,1,Participated,2016-07-22 14:07:43,NaN
1,True,0,,2,1,Unspecified,c3174748ab29f73d8c6226d0c2171aeb,,,,,,,,25.0,1,Participated,2016-08-26 17:43:54,NaN
2,True,0,,3,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-26 17:46:32,NaN
3,True,0,,4,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-26 17:48:18,NaN
4,True,0,,5,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-28 23:57:25,NaN

In [4]:
projects = pd.read_pickle("../../data/raw/project_data")

In [5]:
projects[projects['project_id'] == 413]

,UN_regions,country,description,error,guid,origin,regions,tags,title,topics,url,project_id
223,[],,The Dragonfly Swarm Project uses the power of ...,NaN,01cec27e-3284-52b4-9e4d-5a357992e526,scistarter,"[{'geometry': {'type': 'MultiPolygon', 'coordi...","[dragonflies, dragonfly swarm, insect behavior...",Dragonfly Swarm Project,"[Climate & Weather, Nature & Outdoors, Animals...",https://scistarter.com/project/413-Dragonfly-S...,413

### Group participation data into profiles with a list of project_ids

In [6]:
profiles = participations.groupby(['profile','project'])[['profile','project']].size().reset_index()

In [7]:
profiles.head()

                            profile  project  0
0  000073c3675ea9a1d0fe0ee3ca57e2bf    413.0  2
1  0002b85e757486c6d80ed6f73f465eaa  16864.0  1
2  0003a41bbdb3371df4c1829913f17537  19794.0  1
3  000436aaa487e461e6e16e02ab3e89eb    659.0  1
4  000476d8680db78d75b3b9edefc4a6d2   1510.0  1

In [8]:
profiles.to_pickle("./profiles_projects.pkl")

In [9]:
profiles[profiles['profile'] == '000073c3675ea9a1d0fe0ee3ca57e2bf']

                            profile  project  0
0  000073c3675ea9a1d0fe0ee3ca57e2bf    413.0  2

### Create the adjecency matrix

In [10]:
adj_mat = pd.crosstab(profiles.profile, profiles.project)

### Save the matrix to file

In [11]:
sA = sparse.csr_matrix(adj_mat)
sparse.save_npz("prof_proj_adj_mat.npz", sA)