In [1]:
import numpy as np
import matplotlib as plt
import seaborn as sns
import pandas as pd
import datetime

# Group the participations data into sessions

### Load the participations data

In [2]:
participation = pd.read_pickle('../../data/raw/participation_data')

In [3]:
participation.head()

,authenticated,duration,extra,index_,magnitude,origin,profile,profile_origin,profile_referrer,profile_utm_campaign,profile_utm_content,profile_utm_medium,profile_utm_source,profile_utm_term,project,repetitions,type,when,where
0,True,0,,1,1,Unspecified,c3174748ab29f73d8c6226d0c2171aeb,,,,,,,,25.0,1,Participated,2016-07-22 14:07:43,NaN
1,True,0,,2,1,Unspecified,c3174748ab29f73d8c6226d0c2171aeb,,,,,,,,25.0,1,Participated,2016-08-26 17:43:54,NaN
2,True,0,,3,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-26 17:46:32,NaN
3,True,0,,4,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-26 17:48:18,NaN
4,True,0,,5,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-28 23:57:25,NaN

In [4]:
len(participation) == len(participation['index_'].unique())

True

### Group participation HITs into sessions

In [5]:
# Convert the timestamp to datetime
participation['when'] = pd.to_datetime(participation['when'])

In [6]:
# Sort the dataset by profile_id and then when
participation = participation.sort_values(['profile', 'when'])

In [7]:
# Return the indices where two adjacent HITs have timestamps that are more than 30 minutes apart
gt_30min = participation.when.diff() > pd.Timedelta(minutes=30)

In [8]:
# Return the indices where two adjacent HITs have different user_ids
diff_profile = participation.profile != participation.profile.shift()

In [9]:
# Any indice that appears in the above arrays signifies the end of a session
session_id = (diff_profile | gt_30min).cumsum()

In [10]:
# Mark each HIT with a session_id
participation['session_id'] = session_id

### Count the number of sessions

In [11]:
sessions = participation['session_id'].unique()

In [12]:
len(sessions)

153502

### Explore some of the sessions data

In [13]:
session_counts = participation[['session_id', 'profile']].groupby(['session_id', 'profile']).size().reset_index(name='count')

In [14]:
session_counts.head()

   session_id                           profile  count
0           1  000073c3675ea9a1d0fe0ee3ca57e2bf      1
1           2  000073c3675ea9a1d0fe0ee3ca57e2bf      1
2           3  0002b85e757486c6d80ed6f73f465eaa      1
3           4  0003a41bbdb3371df4c1829913f17537      1
4           5  000436aaa487e461e6e16e02ab3e89eb      1

In [15]:
session_counts.sort_values('count', ascending=False).head()

        session_id                           profile  count
122523      122524  cdf3442c67095952427f82c2975fc88d   5840
46993        46994  4b4c399a82839ccb56b9a960770c5d3f   2471
55439        55440  5aab8db0481044218e02eb042e95dd8d   1754
47034        47035  4b4c399a82839ccb56b9a960770c5d3f   1648
86360        86361  8f52d4c68da61cc0dab830ed40fd970e   1572

In [16]:
session_counts.describe()

          session_id          count
count  153502.000000  153502.000000
mean    76751.500000       9.607354
std     44312.354848      48.010980
min         1.000000       1.000000
25%     38376.250000       1.000000
50%     76751.500000       1.000000
75%    115126.750000       2.000000
max    153502.000000    5840.000000

In [17]:
# Find the number of sessions that have over 6 participations in them
len(session_counts[session_counts['count'] > 6])

20251

### Add new columns to each HIT

In [18]:
# Add a column for session duration so far to the HITs
session_duration = participation['when'] - participation.groupby('session_id')['when'].transform('first')
participation['session_duration'] = session_duration.dt.seconds // 60

In [19]:
# Add a column for the total number of HITs in the 
total_hits = participation.groupby(["session_id"]).cumcount()
participation['total_hits'] = total_hits

In [20]:
# Mark the last event of the session
last_HIT = participation.groupby('session_id')['index_'].transform('last')
participation['end_of_session'] = last_HIT
participation['end_of_session'] = participation['index_'] != participation['end_of_session']

In [21]:
len(participation[participation['end_of_session'] == False])

153502