In [9]:
import pandas as pd
import numpy as np

In [10]:
users_projects =  pd.read_pickle('scistarterdata/multiple_profile_all_projects')

In [11]:
users_projects.head()

project,profile,4.0,5.0,6.0,7.0,8.0,19.0,20.0,22.0,23.0,...,20571.0,20572.0,20573.0,20577.0,20591.0,20603.0,20637.0,20645.0,20650.0,20655.0
0,001bedb58aa43c8d3596b5b522ba1040,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0021e5df03d7feb6ba9558cc2828d616,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00300cba5401183830a6a82b80c8ff7f,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0033882471572a66322d0747c6a4b12d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,00536e1575193e409e255cd02ed9d205,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# np.array(users_projects.values[1:].tolist())
users_projects = users_projects.drop(columns=['profile'])

In [13]:
arr = np.array(users_projects.values)

In [17]:
ones = np.count_nonzero(arr)

In [19]:
size = arr.shape[0] * arr.shape[1]

In [21]:
100 - (ones / size)

99.99632936418648