In [7]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [8]:
data1 = pd.read_json('../data/file0-555.json', orient='columns')

In [9]:
data2 = pd.read_json('../data/file1137-3025.json', orient='columns')

In [10]:
data3 = pd.read_json('../data/file556-1136.json', orient='columns')

In [11]:
data = pd.concat([data1, data2, data3])

In [12]:
data.describe()

        duration        index_     magnitude       project  repetitions
count  1474748.0  1.474748e+06  1.474748e+06  1.261569e+06    1474748.0
mean         0.0  7.373751e+05  1.746123e+01  1.369494e+03          1.0
std          0.0  4.257236e+05  1.783508e+01  2.715116e+03          0.0
min          0.0  1.000000e+00  0.000000e+00  4.000000e+00          1.0
25%          0.0  3.686878e+05  1.000000e+00  1.014000e+03          1.0
50%          0.0  7.373755e+05  1.000000e+00  1.014000e+03          1.0
75%          0.0  1.106062e+06  3.900000e+01  1.014000e+03          1.0
max          0.0  1.474749e+06  4.000000e+01  2.065500e+04          1.0

In [13]:
data.head()

,authenticated,duration,extra,index_,magnitude,origin,profile,profile_origin,profile_referrer,profile_utm_campaign,profile_utm_content,profile_utm_medium,profile_utm_source,profile_utm_term,project,repetitions,type,when,where
0,True,0,,1,1,Unspecified,c3174748ab29f73d8c6226d0c2171aeb,,,,,,,,25.0,1,Participated,2016-07-22 14:07:43,NaN
1,True,0,,2,1,Unspecified,c3174748ab29f73d8c6226d0c2171aeb,,,,,,,,25.0,1,Participated,2016-08-26 17:43:54,NaN
2,True,0,,3,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-26 17:46:32,NaN
3,True,0,,4,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-26 17:48:18,NaN
4,True,0,,5,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-28 23:57:25,NaN

#### Group By Project Id

In [14]:
projects = data.groupby('project')['profile'].nunique().reset_index()
projects = projects.rename(index=str, columns={"profile": "num_profiles"})
len(projects)

1783

#### Get array of Project Ids

In [15]:
project_ids = np.array(projects['project'], dtype=int)

In [16]:
project_ids = np.sort(project_ids)

In [17]:
project_ids

array([    4,     5,     6, ..., 20645, 20650, 20655])

#### Save project ids to a file

In [18]:
np.save('../data/project_ids', project_ids)

#### Save a test file for testing code locally

In [19]:
np.save('../data/test_ids', np.array([25, 26], dtype=int))