In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import json
from pandas.io.json import json_normalize

#### Import the data from files

In [2]:
data1 = pd.read_json('../../data/raw/file0-555.json', orient='columns')

In [3]:
data2 = pd.read_json('../../data/raw/file1137-3025.json', orient='columns')

In [4]:
data3 = pd.read_json('../../data/raw/file556-1136.json', orient='columns')

In [5]:
data = pd.concat([data1, data2, data3])

In [6]:
data.head()

,authenticated,duration,extra,index_,magnitude,origin,profile,profile_origin,profile_referrer,profile_utm_campaign,profile_utm_content,profile_utm_medium,profile_utm_source,profile_utm_term,project,repetitions,type,when,where
0,True,0,,1,1,Unspecified,c3174748ab29f73d8c6226d0c2171aeb,,,,,,,,25.0,1,Participated,2016-07-22 14:07:43,NaN
1,True,0,,2,1,Unspecified,c3174748ab29f73d8c6226d0c2171aeb,,,,,,,,25.0,1,Participated,2016-08-26 17:43:54,NaN
2,True,0,,3,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-26 17:46:32,NaN
3,True,0,,4,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-26 17:48:18,NaN
4,True,0,,5,1,Unspecified,59d1c4ccba844b6f4722d2967c531441,,,,,,,,25.0,1,Participated,2016-08-28 23:57:25,NaN

In [7]:
len(data)

1474748

#### Find rows that match missing project ids

In [8]:
len(data[data['project'] == 1157.0])

105

# I decided not to filter anything out and just save this dataframe to a pickle file

In [9]:
data.to_pickle('participation_data')