# Create an adjacency matrix that is time consistent

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import json
from pandas.io.json import json_normalize
from scipy import sparse

In [3]:
# Load our dataframes
participations = pd.read_pickle('../../data/raw/participation_data')
projects = pd.read_pickle("../../data/raw/project_data")

In [7]:
# Examine Participations
participations.head()

,authenticated,duration,extra,index_,magnitude,origin,profile,profile_origin,profile_referrer,profile_utm_campaign,profile_utm_content,profile_utm_medium,profile_utm_source,profile_utm_term,project,repetitions,type,when,where
359347,False,0,https://www.inaturalist.org/observations/9625101,896597,1,Unspecified,a772ac48e9238be0a9cfba93e89cfe05,,https://t.co/3p1sHwjkZF,,,,,,421.0,1,Data collection,1996-04-01 00:00:00,None
595816,False,0,http://www.inaturalist.org/observations/16251,1133066,1,Unspecified,082e32620cc78dc506f955195ae41152,,https://scistarter.com/finder?lat=20.753276795...,,,,,,421.0,1,Data collection,2000-10-12 00:00:00,None
702578,False,0,https://www.inaturalist.org/observations/13164667,1239828,1,Unspecified,a772ac48e9238be0a9cfba93e89cfe05,,https://t.co/3p1sHwjkZF,,,,,,421.0,1,Data collection,2005-08-31 00:00:00,None
702574,False,0,https://www.inaturalist.org/observations/13165108,1239824,1,Unspecified,a772ac48e9238be0a9cfba93e89cfe05,,https://t.co/3p1sHwjkZF,,,,,,421.0,1,Data collection,2007-02-27 00:00:00,None
702576,False,0,https://www.inaturalist.org/observations/13165106,1239826,1,Unspecified,a772ac48e9238be0a9cfba93e89cfe05,,https://t.co/3p1sHwjkZF,,,,,,421.0,1,Data collection,2007-02-27 00:00:00,None

In [8]:
participations.describe()

        duration        index_     magnitude       project  repetitions
count  1474748.0  1.474748e+06  1.474748e+06  1.261569e+06    1474748.0
mean         0.0  7.373751e+05  1.746123e+01  1.369494e+03          1.0
std          0.0  4.257236e+05  1.783508e+01  2.715116e+03          0.0
min          0.0  1.000000e+00  0.000000e+00  4.000000e+00          1.0
25%          0.0  3.686878e+05  1.000000e+00  1.014000e+03          1.0
50%          0.0  7.373755e+05  1.000000e+00  1.014000e+03          1.0
75%          0.0  1.106062e+06  3.900000e+01  1.014000e+03          1.0
max          0.0  1.474749e+06  4.000000e+01  2.065500e+04          1.0

In [5]:
# Sort by 'when' column
participations = participations.sort_values('when')

In [11]:
# Get all unique profiles in the participation dataset
profiles = participations['profile'].unique()

In [16]:
profile_projects = participations.groupby('profile')['project'].apply(list).reset_index()
profile_projects = profile_projects.rename(index=str, columns={"list": "profiles"})

In [17]:
profile_projects.head()

                            profile         project
0  000073c3675ea9a1d0fe0ee3ca57e2bf  [413.0, 413.0]
1  0002b85e757486c6d80ed6f73f465eaa       [16864.0]
2  0003a41bbdb3371df4c1829913f17537       [19794.0]
3  000436aaa487e461e6e16e02ab3e89eb         [659.0]
4  000476d8680db78d75b3b9edefc4a6d2        [1510.0]

In [18]:
len(profile_projects)

76382

In [19]:
profile_projects.to_pickle('../../data/processed/profile_projects_time_consistent')