In [2]:
import pandas as pd

In [3]:
projects = pd.read_pickle('../../data/processed/project_data')

In [4]:
project = projects.iloc[3]
print(project['description'])
print('-----')
print(project['title'])

Pay attention to the plants and animals in your yard, and you can contribute to scientific discovery! Observing life cycles of plants and animals with Nature's Notebook is easy and fun, and you will discover so much more about the plants and animals you see everyday.

Sign up to observe one or more species in your yard or another place that you frequent. Use the Nature's Notebook smartphone app to send your observations directly to the National Phenology Database, or fill out paper datasheets and submit them online.
-----
Nature's Notebook

In [5]:
projects[projects['project_id'] == 92]

,UN_regions,country,description,error,guid,origin,regions,tags,title,topics,url,project_id
42,[],,The US Geological Survey's Twitter Earthquake ...,NaN,f1cc8239-e772-5f19-a6a9-1218d5372f74,scistarter,[],[],The Twitter Earthquake Detection Program,"[Geology & Earth Science, Computers & Technolo...",https://scistarter.com/project/92-The-Twitter-...,92

In [6]:
project_ids = pd.read_pickle('../../data/processed/new_cf_projects.pkl')

       0
0     92
1     94
2     95
3     97
4    102
5    103
6    106
7    112
8    114
9    115
10   119
11   150
12   164
13   205
14   278
15   474
16   585
17   825
18   827
19   828
20  1025
21  1034
22  1039
23  1044
24  1306
25  1400
26  1401