In [1]:
import pandas as pd
import json
import numpy as np

In [10]:
# Read results
autoencoder_name = 'train_autoencoder_0_deep3_movies_0.8_10'
results = pd.read_json('../../data/experiment-results/cf-autoencoder/%s.json' % (autoencoder_name), lines=True)

results = results.T
results['json'] = results[0]

newDataframe = pd.DataFrame(columns=['user_index', 'precision', 'recall', 'y_pred', 'y_true', 'len_yPred', 'len_yTrue', 'avg_precision', 'rmse'])
newDataframe['y_pred'] = newDataframe['y_pred'].astype(object)
newDataframe['y_true'] = newDataframe['y_true'].astype(object)

for index, row in results.iterrows():
    newSeries = pd.Series(index=['user_index', 'precision', 'recall', 'y_pred', 'y_true', 'len_yPred', 'len_yTrue'])
    newSeries['y_pred'] = newSeries['y_pred'].astype(object)
    newSeries['y_true'] = newSeries['y_true'].astype(object)

    newSeries['user_index'] = row['json']['user_index']
    newSeries['precision'] = row['json']['precision']
    newSeries['recall'] = row['json']['recall']

    things1 = np.array(row['json']['y_pred']).astype('str')
    things2 = np.array(row['json']['y_true']).astype('str')
    y_pred_string = '[' + ', '.join(things1) + ']'
    y_true_string = '[' + ', '.join(things2) + ']'
    
    newSeries['y_pred'] = y_pred_string
    newSeries['y_true'] = y_true_string
    
    newSeries['len_yPred'] = len(row['json']['y_pred'])
    newSeries['len_yTrue'] = len(row['json']['y_true'])
    
    newSeries['rmse'] = row['json']['rmse']
    newSeries['avg_precision'] = row['json']['avg_precision']
    
    newDataframe.loc[index] = newSeries
    
newDataframe.describe()

       user_index   precision      recall  avg_precision        rmse
count  943.000000  943.000000  943.000000     943.000000  943.000000
mean   471.000000    0.085684    0.085684       0.067458    0.080021
std    272.364951    0.093622    0.093622       0.065977    0.003681
min      0.000000    0.000000    0.000000       0.005190    0.073127
25%    235.500000    0.000000    0.000000       0.020317    0.077083
50%    471.000000    0.100000    0.100000       0.041872    0.080845
75%    706.500000    0.100000    0.100000       0.095286    0.084440
max    942.000000    0.500000    0.500000       0.435641    0.084440

In [7]:
print('The number of different projects suggested is %d' % (len(set(newDataframe['y_pred']))))

The number of different projects suggested is 679