In [17]:
import pandas as pd
import json
import numpy as np

In [18]:
# Read results
name = 'results-train_autoencoder_128_cdae_tfidf_title_10'
results = pd.read_json('../../data/experiment-results/content-sci-autoencoder/%s.json' % (name), lines=True)

results = results.T
results['json'] = results[0]

newDataframe = pd.DataFrame(columns=['user_index', 'precision', 'recall', 'refined_precision', 'y_pred', 'y_true'])
newDataframe['y_pred'] = newDataframe['y_pred'].astype(object)
newDataframe['y_true'] = newDataframe['y_true'].astype(object)

for index, row in results.iterrows():
    newSeries = pd.Series(index=['user_index', 'precision', 'recall', 'refined_precision', 'y_pred', 'y_true'])
    newSeries['y_pred'] = newSeries['y_pred'].astype(object)
    newSeries['y_true'] = newSeries['y_true'].astype(object)

    newSeries['user_index'] = row['json']['user_index']
    newSeries['precision'] = row['json']['precision']
    newSeries['recall'] = row['json']['recall']
    newSeries['refined_precision'] = row['json']['refined_precision']

    things1 = np.array(row['json']['y_pred']).astype('str')
    things2 = np.array(row['json']['y_true']).astype('str')
    y_pred_string = '[' + ', '.join(things1) + ']'
    y_true_string = '[' + ', '.join(things2) + ']'
    
    newSeries['y_pred'] = y_pred_string
    newSeries['y_true'] = y_true_string
    
    newDataframe.loc[index] = newSeries
    
newDataframe.describe()

        user_index    precision       recall  refined_precision
count  1618.000000  1618.000000  1618.000000        1618.000000
mean    809.500000     0.001174     0.005840           0.676800
std     467.220683     0.010776     0.067059           0.353394
min       1.000000     0.000000     0.000000          -0.991216
25%     405.250000     0.000000     0.000000           0.642889
50%     809.500000     0.000000     0.000000           0.814046
75%    1213.750000     0.000000     0.000000           0.914401
max    1618.000000     0.100000     1.000000           1.099723

In [19]:
all_preds = np.array([])
for i in range(0, newDataframe.shape[1]):
    preds = np.asarray(newDataframe.iloc[i]['y_pred'][1:-1].split(', '), dtype=int)
    all_preds = np.append(all_preds, preds)
    
len(set(all_preds))

40

In [20]:
newDataframe[newDataframe['recall'] == 1.0].head()

,user_index,precision,recall,refined_precision,y_pred,y_true
143,144.0,0.1,1.0,1.099650,"[51, 100, 230, 246, 412, 414, 832, 859, 963, 1...",[100]
205,206.0,0.1,1.0,1.097229,"[39, 91, 103, 212, 243, 280, 617, 638, 750, 806]",[103]
334,335.0,0.1,1.0,0.985765,"[34, 94, 202, 512, 610, 823, 850, 861, 1165, 1...",[861]
489,490.0,0.1,1.0,1.093373,"[7, 84, 272, 280, 362, 431, 627, 800, 925, 1130]",[362]
1034,1035.0,0.1,1.0,1.098050,"[100, 362, 505, 590, 617, 618, 911, 1102, 1130...",[617]

In [21]:
newDataframe[newDataframe['y_true'] == '[1, 6, 9, 10, 20]']

Empty DataFrame
Columns: [user_index, precision, recall, refined_precision, y_pred, y_true]
Index: []

In [ ]:
for idx, row in newDataframe.iterrows():