# Recommend Projects to Users with Time Consistency

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import json
from pandas.io.json import json_normalize
from scipy import sparse
import math

import os
import sys
module_path = os.path.abspath(os.path.join('../../'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from src.models.cdea.evaluate import evaluate

In [2]:
users_projects_list = pd.read_pickle('../../data/processed/profile_projects_time_consistent')

In [3]:
projects = pd.read_pickle('../../data/raw/project_data')

In [4]:
users_projects_matrix =  pd.read_pickle('../../data/processed/active_profile_projects')

In [5]:
project_ids = np.load('../../data/processed/project_ids')

In [6]:
similarity_matrix = pd.read_pickle('../../data/processed/similarity_matrix')

In [7]:
# Normalise the similarity
similarity_matrix = (similarity_matrix + 1) / 2

In [8]:
project_ids.shape

(1783,)

### Prepare user for recommendation

In [9]:
# Get our users project list
user_projects_list = users_projects_list[users_projects_list['num_projects'] > 7].iloc[1000]
user_id = user_projects_list['profile']


projects_list = [val for val in user_projects_list['projects'] if not math.isnan(val)]
projects_list

[16864.0,
 16864.0,
 737.0,
 737.0,
 169.0,
 169.0,
 17862.0,
 17862.0,
 17248.0,
 17248.0,
 16978.0,
 16978.0,
 1970.0,
 1970.0,
 564.0,
 564.0,
 1208.0,
 1208.0]

In [10]:
# Get our users adjcacency matrix row
adj_matrix = users_projects_matrix[users_projects_matrix['profile'] == user_id]
adj_matrix = adj_matrix.drop(columns=['profile'])
adj_matrix

project,4.0,5.0,6.0,7.0,8.0,19.0,20.0,22.0,24.0,25.0,...,296.0,297.0,298.0,302.0,303.0,304.0,309.0,310.0,312.0,19847.0
589,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# Cut out projects that occured after the 80% time step
cutoff_idx = int(np.ceil(len(projects_list)*0.8))
cutoff_idx

15

In [12]:
# Project Ids of projects before the cutoff
before_cutoff = list(set(projects_list[:cutoff_idx]))
before_cutoff

[16864.0, 737.0, 17248.0, 17862.0, 169.0, 16978.0, 1970.0, 564.0]

In [13]:
# Project Ids of projects after the cutoff
after_cutoff = list(set(projects_list[cutoff_idx:]))
after_cutoff

[1208.0, 564.0]

In [14]:
# Figure out which projects to cut out of the 
projects_to_cut = np.setdiff1d(after_cutoff, before_cutoff)
projects_to_cut

array([1208.])

In [15]:
# Set the project to 0
adj_matrix[projects_to_cut] = 0

### Make Predictions

In [16]:
adj_matrix = np.array(adj_matrix.T)

In [17]:
# Calculate the similarity between user and projects
num_projects = np.count_nonzero(adj_matrix)
user_projects_sim = np.sum(adj_matrix * similarity_matrix.values, axis=1) / num_projects

In [18]:
similar_items = pd.DataFrame(user_projects_sim)
similar_items.columns = ['similarity_score']
similar_items['project_id'] = projects['project_id']

In [19]:
# Pick the Top-N item
N = 5
similar_items = similar_items.sort_values('similarity_score', ascending=False)
similar_items = similar_items.head(N)

In [20]:
similar_items

     similarity_score  project_id
835        114.444882      1306.0
739        114.423375      1140.0
325        114.270954       553.0
867        108.347876      1397.0
815        108.206380      1238.0

### Evaluate Recommender

In [21]:
# Set y_true
y_true = np.zeros(projects.shape[0])
after_cutoff = np.array(after_cutoff, dtype=int)
print(after_cutoff)
y_true[after_cutoff] = 1
print(np.count_nonzero(y_true))
print(y_true.shape)

[1208  564]
2
(1781,)

In [22]:
# Set y_pred
y_pred = np.zeros(projects.shape[0])
predicted_projects = np.array(similar_items.index, dtype=int)
y_pred[predicted_projects] = 1
print(np.count_nonzero(y_pred))
print(y_pred.shape)

5
(1781,)

In [23]:
precision, recall = evaluate(y_true, y_pred)

### Calculate the Refined Precision

In [24]:
# Loop over everything in y_pred
# Find it's max similarity with elements in y_true
pred_sim_matrix = similarity_matrix[similar_items.index]
pred_sim_matrix

            835       739       325       867       815
4      0.003768  0.009200  0.021989  0.981199  0.995018
5      0.000058  0.002844  0.030216  0.975377  0.991639
6      0.000020  0.003473  0.028472  0.976156  0.992636
7      0.999902  0.997016  0.970866  0.026482  0.008256
8      0.001488  0.004878  0.038122  0.974415  0.988653
19     0.006047  0.003502  0.058426  0.964082  0.976100
20     0.000018  0.003475  0.028655  0.976113  0.992578
22     0.000126  0.003928  0.027327  0.977168  0.992766
23     0.000020  0.003453  0.028662  0.976139  0.992567
24     0.999929  0.997119  0.970378  0.024105  0.008110
25     0.990436  0.976955  0.986588  0.017975  0.001722
26     0.001570  0.007516  0.020754  0.977824  0.996333
27     0.999089  0.993994  0.974116  0.019318  0.005128
28     0.999973  0.996713  0.970863  0.024652  0.007822
29     0.687701  0.713296  0.631646  0.400935  0.346777
30     0.999715  0.996870  0.967588  0.025396  0.008943
31     0.996464  0.990798  0.977957  0.019502  0.004558
32     0.999920  0.996828  0.969593  0.024974  0.008269
33     0.999887  0.996953  0.969576  0.026383  0.008837
34     0.999117  0.997322  0.970955  0.028010  0.009916
35     0.965375  0.971149  0.915055  0.076733  0.053652
36     0.000872  0.002835  0.034530  0.975068  0.988881
37     0.999980  0.996653  0.970950  0.024036  0.007671
38     0.997427  0.989578  0.974678  0.021860  0.004628
39     0.004239  0.001258  0.042694  0.963325  0.982166
40     0.423439  0.442523  0.316285  0.644778  0.639656
41     0.999976  0.996676  0.971029  0.024104  0.007696
42     0.000496  0.003239  0.034769  0.973390  0.990615
43     0.001179  0.005608  0.023296  0.979482  0.993109
44     0.000033  0.003579  0.027982  0.976364  0.992854
...         ...       ...       ...       ...       ...
286    0.995627  0.988534  0.975597  0.015350  0.004915
287    0.000119  0.002909  0.031139  0.975061  0.991447
288    0.982527  0.975145  0.979334  0.024962  0.018358
289    0.000377  0.004383  0.026317  0.977528  0.994144
290    0.929550  0.942347  0.857782  0.136929  0.107775
291    0.992918  0.990247  0.953162  0.032244  0.024181
292    0.013180  0.027539  0.015138  0.972991  0.994021
293    0.995162  0.991472  0.961747  0.028189  0.013254
294    0.000180  0.003063  0.031329  0.974489  0.991738
295    0.793459  0.774075  0.821028  0.171940  0.182049
296    0.000030  0.003334  0.029782  0.975529  0.992283
297    0.009479  0.003804  0.048820  0.957511  0.975310
298    0.035262  0.052301  0.032178  0.944993  0.980013
299    0.000438  0.005562  0.023640  0.978658  0.995065
300    0.011781  0.008699  0.068057  0.966337  0.966785
301    0.000082  0.003812  0.027163  0.976643  0.993387
302    0.989808  0.992971  0.958462  0.060774  0.022375
303    0.007610  0.012578  0.029064  0.975633  0.990849
304    0.999248  0.994567  0.975002  0.020814  0.005111
305    0.996498  0.990668  0.979342  0.018385  0.005395
307    0.000049  0.003149  0.030060  0.974595  0.991699
308    0.999739  0.995087  0.974111  0.020988  0.005512
309    0.977549  0.968349  0.973891  0.033588  0.013210
310    0.998231  0.991818  0.978100  0.023269  0.003331
311    0.000848  0.005459  0.024891  0.980811  0.993935
312    0.001356  0.004052  0.034862  0.973356  0.989752
18862  0.089332  0.109847  0.065368  0.929004  0.943983
18999  0.998738  0.997470  0.968127  0.032999  0.011656
19535  0.000075  0.002795  0.030389  0.973516  0.991523
19847  0.032954  0.047952  0.032723  0.984983  0.980788

[1781 rows x 5 columns]

In [25]:
print(y_true.shape)
print(np.count_nonzero(y_true))
true_idx = np.nonzero(y_true)
print(true_idx)

(1781,)
2
(array([ 564, 1208]),)

In [26]:
pred_sim_matrix.shape

(1781, 5)

In [27]:
masked_pred_sim_matrix = pred_sim_matrix.iloc[true_idx]
masked_pred_sim_matrix

            835       739       325       867       815
873    0.000237  0.002305  0.032327  0.973957  0.990350
17329  0.000050  0.003186  0.030266  0.975112  0.991992

In [28]:
masked_pred_sim_matrix.shape

(2, 5)

In [29]:
refined_precision = np.mean(masked_pred_sim_matrix.max(axis=0)) + precision

In [30]:
refined_precision

0.400570809841156