In [52]:
import pandas as pd
import json
import numpy as np

In [62]:
# Read results
autoencoder_name = 'train_autoencoder_128_deep3_new_users_projects_0.8_10'
results = pd.read_json('../../data/experiment-results/cf-autoencoder/%s.json' % (autoencoder_name), lines=True)

results = results.T
results['json'] = results[0]

newDataframe = pd.DataFrame(columns=['user_index', 'precision', 'recall', 'y_pred', 'y_true', 'len_yPred', 'len_yTrue', 'avg_precision', 'rmse'])
newDataframe['y_pred'] = newDataframe['y_pred'].astype(object)
newDataframe['y_true'] = newDataframe['y_true'].astype(object)

for index, row in results.iterrows():
    newSeries = pd.Series(index=['user_index', 'precision', 'recall', 'y_pred', 'y_true', 'len_yPred', 'len_yTrue'])
    newSeries['y_pred'] = newSeries['y_pred'].astype(object)
    newSeries['y_true'] = newSeries['y_true'].astype(object)

    newSeries['user_index'] = row['json']['user_index']
    newSeries['precision'] = row['json']['precision']
    newSeries['recall'] = row['json']['recall']

    things1 = np.array(row['json']['y_pred']).astype('str')
    things2 = np.array(row['json']['y_true']).astype('str')
    y_pred_string = '[' + ', '.join(things1) + ']'
    y_true_string = '[' + ', '.join(things2) + ']'
    
    newSeries['y_pred'] = y_pred_string
    newSeries['y_true'] = y_true_string
    
    newSeries['len_yPred'] = len(row['json']['y_pred'])
    newSeries['len_yTrue'] = len(row['json']['y_true'])
    
    newSeries['rmse'] = row['json']['rmse']
    newSeries['avg_precision'] = row['json']['avg_precision']
    
    newDataframe.loc[index] = newSeries
    
newDataframe.describe()

       user_index   precision      recall  avg_precision          rmse
count  344.000000  344.000000  344.000000     344.000000  3.440000e+02
mean   171.500000    0.018023    0.154506       0.010487  4.706947e-02
std     99.448479    0.043474    0.356164       0.026439  8.843143e-02
min      0.000000    0.000000    0.000000       0.000000  0.000000e+00
25%     85.750000    0.000000    0.000000       0.000000  3.484513e-36
50%    171.500000    0.000000    0.000000       0.000000  3.494810e-36
75%    257.250000    0.000000    0.000000       0.000000  3.494810e-36
max    343.000000    0.300000    1.000000       0.348148  4.303315e-01

In [63]:
all_preds = np.array([])
for i in range(0, newDataframe.shape[1]):
    preds = np.asarray(newDataframe.iloc[i]['y_pred'][1:-1].split(', '), dtype=int)
    all_preds = np.append(all_preds, preds)
    
len(set(all_preds))

10

In [64]:
set(all_preds)

{1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 12.0, 26.0}

In [67]:
newDataframe[newDataframe['user_index'] == 81.0]

,user_index,precision,recall,y_pred,y_true,len_yPred,len_yTrue,avg_precision,rmse
81,81.0,0.2,0.4,"[1, 2, 3, 4, 5, 6, 7, 8, 12, 26]","[1, 6, 9, 10, 20]",10,5,0.348148,0.430331