In [1]:
import pandas as pd
import json
import numpy as np

In [38]:
# Read results
results = pd.read_json('../../data/experiment-results/content-sci-autoencoder/results-train_autoencoder_128_cdae_doc2vec_description_10.json', lines=True)

In [39]:
results = results.T
results['json'] = results[0]

In [40]:
newDataframe = pd.DataFrame(columns=['user_index', 'precision', 'recall', 'refined_precision', 'y_pred', 'y_true'])
newDataframe['y_pred'] = newDataframe['y_pred'].astype(object)
newDataframe['y_true'] = newDataframe['y_true'].astype(object)

for index, row in results.iterrows():
    newSeries = pd.Series(index=['user_index', 'precision', 'recall', 'refined_precision', 'y_pred', 'y_true'])
    newSeries['y_pred'] = newSeries['y_pred'].astype(object)
    newSeries['y_true'] = newSeries['y_true'].astype(object)

    newSeries['user_index'] = row['json']['user_index']
    newSeries['precision'] = row['json']['precision']
    newSeries['recall'] = row['json']['recall']
    newSeries['refined_precision'] = row['json']['refined_precision']

    things1 = np.array(row['json']['y_pred']).astype('str')
    things2 = np.array(row['json']['y_true']).astype('str')
    y_pred_string = '[' + ', '.join(things1) + ']'
    y_true_string = '[' + ', '.join(things2) + ']'
    
    newSeries['y_pred'] = y_pred_string
    newSeries['y_true'] = y_true_string
    
    newDataframe.loc[index] = newSeries

In [41]:
newDataframe.head()

,user_index,precision,recall,refined_precision,y_pred,y_true
0,1.0,0.0,0.0,-0.713941,"[93, 258, 361, 524, 588, 709, 794, 1128, 1221,...",[860]
1,2.0,0.0,0.0,0.424359,"[31, 316, 331, 361, 366, 399, 709, 862, 987, 1...","[30, 353]"
2,3.0,0.0,0.0,0.868271,"[215, 391, 464, 475, 588, 681, 1010, 1128, 113...","[9, 170]"
3,4.0,0.0,0.0,0.795889,"[212, 244, 616, 716, 757, 818, 1025, 1095, 112...","[169, 171]"
4,5.0,0.0,0.0,-0.359871,"[17, 20, 93, 193, 361, 371, 686, 702, 830, 1027]",[584]

In [42]:
newDataframe.describe()

        user_index    precision       recall  refined_precision
count  1618.000000  1618.000000  1618.000000        1618.000000
mean    809.500000     0.001360     0.007909           0.260934
std     467.220683     0.011585     0.078566           0.568064
min       1.000000     0.000000     0.000000          -0.930579
25%     405.250000     0.000000     0.000000          -0.324292
50%     809.500000     0.000000     0.000000           0.504210
75%    1213.750000     0.000000     0.000000           0.718451
max    1618.000000     0.100000     1.000000           1.083558