In [10]:
import pandas as pd
import json
import numpy as np

In [11]:
# Read results
results = pd.read_json('../../data/experiment-results/cf-autoencoder/train_autoencoder_32_cdae_new_users_projects_0.8_5.json', lines=True)

results = results.T
results['json'] = results[0]

newDataframe = pd.DataFrame(columns=['user_index', 'precision', 'recall', 'y_pred', 'y_true', 'len_yPred', 'len_yTrue', 'avg_precision', 'rmse'])
newDataframe['y_pred'] = newDataframe['y_pred'].astype(object)
newDataframe['y_true'] = newDataframe['y_true'].astype(object)

for index, row in results.iterrows():
    newSeries = pd.Series(index=['user_index', 'precision', 'recall', 'y_pred', 'y_true', 'len_yPred', 'len_yTrue'])
    newSeries['y_pred'] = newSeries['y_pred'].astype(object)
    newSeries['y_true'] = newSeries['y_true'].astype(object)

    newSeries['user_index'] = row['json']['user_index']
    newSeries['precision'] = row['json']['precision']
    newSeries['recall'] = row['json']['recall']

    things1 = np.array(row['json']['y_pred']).astype('str')
    things2 = np.array(row['json']['y_true']).astype('str')
    y_pred_string = '[' + ', '.join(things1) + ']'
    y_true_string = '[' + ', '.join(things2) + ']'
    
    newSeries['y_pred'] = y_pred_string
    newSeries['y_true'] = y_true_string
    
    newSeries['len_yPred'] = len(row['json']['y_pred'])
    newSeries['len_yTrue'] = len(row['json']['y_true'])
    
    newSeries['rmse'] = row['json']['rmse']
    newSeries['avg_precision'] = row['json']['avg_precision']
    
    newDataframe.loc[index] = newSeries
    
newDataframe.describe()

       user_index   precision      recall  avg_precision        rmse
count  896.000000  896.000000  896.000000     896.000000  896.000000
mean   447.500000    0.002455    0.010268       0.012655    0.021961
std    258.797218    0.022036    0.097141       0.086666    0.061473
min      0.000000    0.000000    0.000000       0.000000    0.000640
25%    223.750000    0.000000    0.000000       0.000000    0.001860
50%    447.500000    0.000000    0.000000       0.000000    0.002102
75%    671.250000    0.000000    0.000000       0.000000    0.002102
max    895.000000    0.200000    1.000000       1.000000    0.429959

In [12]:
print('The number of different projects suggested is %d' % (len(set(newDataframe['y_pred']))))

The number of different projects suggested is 13

In [13]:
max(newDataframe['rmse'])

0.429958649387907