In [20]:
import pandas as pd
import json
import numpy as np

In [21]:
# Read results
results = pd.read_json('../../data/raw-experiment-results/results-autoencoder_32_cdae_tfidf_desc_5.json', lines=True)

In [22]:
results = results.T
results['json'] = results[0]

In [23]:
newDataframe = pd.DataFrame(columns=['user_index', 'precision', 'recall', 'refined_precision', 'y_pred', 'y_true'])
newDataframe['y_pred'] = newDataframe['y_pred'].astype(object)
newDataframe['y_true'] = newDataframe['y_true'].astype(object)

for index, row in results.iterrows():
    newSeries = pd.Series(index=['user_index', 'precision', 'recall', 'refined_precision', 'y_pred', 'y_true'])
    newSeries['y_pred'] = newSeries['y_pred'].astype(object)
    newSeries['y_true'] = newSeries['y_true'].astype(object)

    newSeries['user_index'] = row['json']['user_index']
    newSeries['precision'] = row['json']['precision']
    newSeries['recall'] = row['json']['recall']
    newSeries['refined_precision'] = row['json']['refined_precision']

    things1 = np.array(row['json']['y_pred']).astype('str')
    things2 = np.array(row['json']['y_true']).astype('str')
    y_pred_string = '[' + ', '.join(things1) + ']'
    y_true_string = '[' + ', '.join(things2) + ']'
    
    newSeries['y_pred'] = y_pred_string
    newSeries['y_true'] = y_true_string
    
    newDataframe.loc[index] = newSeries

In [24]:
newDataframe.head()

,user_index,precision,recall,refined_precision,y_pred,y_true
0,1.0,0.0,0.0,0.144088,"[244, 282, 780, 990, 1516]",[860]
1,2.0,0.0,0.0,0.101274,"[590, 712, 845, 1315, 1395]","[30, 353]"
2,3.0,0.0,0.0,0.075232,"[840, 900, 1305, 1656, 1690]","[9, 170]"
3,4.0,0.0,0.0,0.210487,"[57, 364, 1340, 1395, 1568]","[169, 171]"
4,5.0,0.0,0.0,-0.110678,"[392, 520, 876, 966, 1366]",[584]

In [25]:
newDataframe.describe()

        user_index    precision       recall  refined_precision
count  1618.000000  1618.000000  1618.000000        1618.000000
mean    809.500000     0.000494     0.000922           0.061774
std     467.220683     0.009935     0.025868           0.134283
min       1.000000     0.000000     0.000000          -0.308758
25%     405.250000     0.000000     0.000000          -0.030617
50%     809.500000     0.000000     0.000000           0.059882
75%    1213.750000     0.000000     0.000000           0.156367
max    1618.000000     0.200000     1.000000           0.694959