In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
# Read results
autoencoder_name = 'pop_10'
results = pd.read_json('../../data/experiment-results/benchmarks/%s.json' % (autoencoder_name), lines=True)

results = results.T
results['json'] = results[0]

newDataframe = pd.DataFrame(columns=['user_index', 'precision', 'recall', 'y_pred', 'y_true', 'len_yPred', 'len_yTrue'])
newDataframe['y_pred'] = newDataframe['y_pred'].astype(object)
newDataframe['y_true'] = newDataframe['y_true'].astype(object)

for index, row in results.iterrows():
    newSeries = pd.Series(index=['user_index', 'precision', 'recall', 'y_pred', 'y_true', 'len_yPred', 'len_yTrue'])
    newSeries['y_pred'] = newSeries['y_pred'].astype(object)
    newSeries['y_true'] = newSeries['y_true'].astype(object)

    newSeries['user_index'] = row['json']['user_index']
    newSeries['precision'] = row['json']['precision']
    newSeries['recall'] = row['json']['recall']

    things1 = np.array(row['json']['y_pred']).astype('str')
    things2 = np.array(row['json']['y_true']).astype('str')
    y_pred_string = '[' + ', '.join(things1) + ']'
    y_true_string = '[' + ', '.join(things2) + ']'
    
    newSeries['y_pred'] = y_pred_string
    newSeries['y_true'] = y_true_string
    
    newSeries['len_yPred'] = len(row['json']['y_pred'])
    newSeries['len_yTrue'] = len(row['json']['y_true'])
    
    newDataframe.loc[index] = newSeries
    
newDataframe.describe()

       user_index   precision      recall
count  896.000000  896.000000  896.000000
mean   447.500000    0.010268    0.092243
std    258.797218    0.033519    0.288220
min      0.000000    0.000000    0.000000
25%    223.750000    0.000000    0.000000
50%    447.500000    0.000000    0.000000
75%    671.250000    0.000000    0.000000
max    895.000000    0.300000    1.000000

In [3]:
newDataframe.head()

,user_index,precision,recall,y_pred,y_true,len_yPred,len_yTrue
0,0.0,0.0,0.0,"[0, 1, 3, 7, 9, 11, 12, 13, 14, 16]",[15],10,1
1,1.0,0.0,0.0,"[0, 1, 3, 7, 9, 11, 12, 13, 14, 16]",[],10,0
2,2.0,0.0,0.0,"[0, 1, 3, 7, 9, 11, 12, 13, 14, 16]",[],10,0
3,3.0,0.0,0.0,"[0, 1, 3, 7, 9, 11, 12, 13, 14, 16]",[],10,0
4,4.0,0.0,0.0,"[0, 1, 3, 7, 9, 11, 12, 13, 14, 16]",[],10,0

In [6]:
# Load projects
cf_projects = pd.read_pickle('../../data/processed/cf_projects_data')

In [7]:
cf_projects.iloc[[0, 1, 3, 7, 9, 11, 12, 13, 14, 16]]['title'].values

array(['The Twitter Earthquake Detection Program',
       'The Genographic Project', 'Volunteer at The Marine Mammal Center',
       'The Smell Experience Project', 'Perfect Pitch Test',
       'NASA Top Stars', 'What on Earth', 'Snow Tweets',
       'Seward Park Hemlock Tree Monitoring',
       'Zero Robotics Autonomous Space Capture Challenge'], dtype=object)